<div class="wrapper">
  <alert></alert>
    <div id="formContent">
  
      <form (ngSubmit)="onSubmit()">
        <input type="text" id="firstname" [formControl]="firstname" name="firstname" placeholder="firstname">
        <input type="text" id="surname" [formControl]="surname" name="surname" placeholder="surname">
        <input type="text" id="email" [formControl]="email" name="email" placeholder="email">
        <input type="text" id="username" [formControl]="username" name="username" placeholder="username">
        <input type="password" id="password" [formControl]="password" name="password" placeholder="password">
        <input type="submit" value="Rejestracja">
      </form> 
    </div>
  </div>