html  
    head
        title This is result of form
    body
        header
            p My soon to be menu
        section
            p This is a post about Pug template engine, enjoy it!
        footer
            cool footer with lots of copyrights

h2 This is the #{firstname} home page
p It's a test view
h2 This is surname #{surname}
h2 This is city #{city}