body, html {
	height: 100%;
}

.footer {
	color: white;
	text-align: center;
	padding-top: 0px;
  }

#footer-copyright {
	background-color: #303438 ;
	margin: 0%;
	padding: 0%;
	padding-top: 15px;
}

#input_email_newsletter{
	width: 150px;
}

ul {
	list-style: none;
	padding-left: 0;
}

p {
	font-size: 15px;
}

li a {
	color: #ff8d1e;
}

.contact a {
	color: #ff8d1e;
}

.hl {
	background: #839FAD none repeat scroll 0 0;
	display: inline-block;
	height: 1px;
	width: 30%;
}

.navbar
{
	min-height: 75px;
}

body
{
	background-color: #eeeeee;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

#main_content
{
	color: #000000;
}


.btn-primary {
	background-color: #ff8d1e;
	border-color: #ff8d1e;
	color: #efefef;
  }


.product-image {
	width: 100%;
	height: auto;
}

.btn-add-to-cart{
	background-color: #c82333;
	border-color: #c82333;
	color: #efefef;
	margin-right: 10px;
}

.description {
    font-size: 12.5px;
    /* line-height: 20px;
    padding: 10px 14px 0px 19px; */
}
.description ul {
	list-style: disc;
	padding-left: 1.25em;
	font-size: 14px;
}

.price-container {
	font-size: 19px;
}

.product_name {
	font-size: 22px;
	color: #000;
}