body, html {
	height: 100%;
}

.footer {
	color: white;
	text-align: center;
	padding-top: 0px;
  }

#footer-copyright {
	background-color: #303438 ;
	margin: 0%;
	padding: 0%;
	padding-top: 15px;
}

#input_email_newsletter{
	width: 150px;
}

ul {
	list-style: none;
	padding-left: 0;
}

p {
	font-size: 15px;
}

li a {
	color: #ff8d1e;
}

.contact a {
	color: #ff8d1e;
}

.hl {
	background: #839FAD none repeat scroll 0 0;
	display: inline-block;
	height: 1px;
	width: 30%;
}

.navbar
{
	min-height: 75px;
}

body
{
	background-color: #eeeeee;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

#main_content
{
	color: #000000;
}


.btn-primary {
	background-color: #ff8d1e;
	border-color: #ff8d1e;
	color: #efefef;
  }


.product-image {
	width: 100%;
	height: auto;
}

.btn-add-to-cart{
	background-color: #c82333;
	border-color: #c82333;
	color: #efefef;
	margin-right: 10px;
}

.description {
    font-size: 12.5px;
    /* line-height: 20px;
    padding: 10px 14px 0px 19px; */
}
.description ul {
	list-style: disc;
	padding-left: 1.25em;
	font-size: 14px;
}

.price-container {
	font-size: 19px;
}

.product_name {
	font-size: 22px;
	color: #000;
}

#weather_container p {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#weather_container img {
	max-width: 100%;
	height: auto;
}

@media (min-width: 576px) {
	#weather_container img {
		max-width: 100%;
		height: auto;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#weather_container img {
		max-width: 60%;
		height: auto;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#weather_container img {
		max-width: 50%;
		height: auto;
	}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#weather_container img {
		max-width: 40%;
		height: auto;
	}
}

 /* @include media-breakpoint-down(xs) {
	#weather_container img {
		max-width: 100%;
		height: auto;
	}
} */

 /* Small devices (landscape phones, 576px and up) */
 /* @include media-breakpoint-down(sm) {
	#weather_container img {
		width: 1px;
		height: 1px;
	}
} */

/* Medium devices (tablets, 768px and up) */
/* @include media-breakpoint-down(md) {
	#weather_container img {
		max-width: 75%;
		height: auto;
	}
} */
/* // Large devices (desktops, 992px and up) */
/* @include media-breakpoint-down(lg) {
	#weather_container img {
		max-width: 50%;
		height: auto;
	}
} */
/* // Extra large devices (large desktops, 1200px and up) */
/* @include media-breakpoint-down(xl) {
	#weather_container img {
		max-width: 25%;
		height: auto;
	}
} */