<main role="main" class="flex-shrink-0">
    <div class="container text-center" id="main_content">
        <h3 style="padding: 50px;" class="company_name">Ciuchy.pl</h3>
        <p>Firma powstała z miłości do ubrań. Oferujemy najwyższą jakość.</p>
        <div class="contact" style="padding: 50px;">
            <h4>Kontakt</h4>
            <p>Warszawa<br>Marszałkowska 48</p>
            <p>Telefon 722-831-977</p>
            <p><a href="mailto:kontakt@ciuchy.pl" title="kontakt@ciuchy.pl">kontakt@ciuchy.pl</a></p>
        </div>
    </div>
</main>