/* You can add global styles to this file, and also import other style files */
.btn-primary {
	background-color: #ff8d1e;
	border-color: #ff8d1e;
	color: #efefef;
}

body
{
	background-color: #eeeeee;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

ul {
	list-style: none;
	padding-left: 0;
}

p {
	font-size: 15px;
}

li a {
	color: #ff8d1e;
}

body, html {
	height: 100%;
}

app-root {
	height: 100%;
	display: flex;
	flex-direction: column;
}


#main_content
{
	color: #000000;
}


.product-image {
	width: 100%;
	height: auto;
}

.btn-add-to-cart{
	background-color: #c82333;
	border-color: #c82333;
	color: #efefef;
	margin-right: 10px;
}

.description {
    font-size: 12.5px;
}
.description ul {
	list-style: disc;
	padding-left: 1.25em;
	font-size: 14px;
}

.price-container {
	font-size: 19px;
}

.product_name {
	font-size: 22px;
	color: #000;
}

#weather_container p {
	font-size: 12px;
	margin: 0;
	padding: 0;
}


@media (min-width: 576px) {
	#weather_container img {
		max-width: 100%;
		height: auto;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#weather_container img {
		max-width: 60%;
		height: auto;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#weather_container img {
		max-width: 50%;
		height: auto;
	}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#weather_container img {
		max-width: 40%;
		height: auto;
	}
}
