<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <div class="hl"></div>
                <h5 class="company_name">Ciuchy.pl</h5>
                <p>Firma powstała z miłości do ubrań. Oferujemy najwyższą jakość.</p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <div class="hl"></div>
                <h5 class="quick_links">Nawigacja</h5>
                <ul>
                    <li>
                        <div><a href="main-page">Strona domowa</a></div>
                    </li>
                    <li>
                        <div><a href="product-list">Produkty</a></div>
                    </li>
                    <li>
                        <div><a href="about-us">O nas</a></div>
                    </li>
                    <li>
                        <div><a href="contact">Kontakt</a></div>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="hl"></div>
                <h5 class="newsletter">Newsletter</h5>
                <form>
                    <div class="col-sm-12 mb-3 d-flex justify-content-center">
                        <input id="input_email_newsletter" type="email" class="form-control" required placeholder="Wpisz email"
                            pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$">
                    </div>
                    <input type="submit" class="btn btn-primary " value="Subskrybuj!">
                </form>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="contact">
                    <div class="hl"></div>
                    <h5>Kontakt</h5>
                    <p>Warszawa<br>Marszałkowska 48</p>
                    <p>Telefon 722-831-977</p>
                    <p><a href="mailto:kontakt@ciuchy.pl" title="kontakt@ciuchy.pl">kontakt@ciuchy.pl</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="footer-copyright">
        <div class="col-md-12">
            <p>Copyright Company Name © 2020. All rights reserved.</p>
        </div>
    </div>

</footer>