<main role="main" class="flex-shrink-0">
    <div class="container" id="main_content">

        <div class="row">
            <div class="col-xs-12 d-flex justify-content-center">
                <img style="padding:20px;" src="assets/img/clothes.jpg" alt="Główne zdjęcie" height="auto" width="50%">
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">

            <div class="col-xs-12 col-md-4 text-center">
                <figure>
                    <img src="assets/img/free-delivery.svg" alt="Darmowa dostawa" height="100" width="100">
                </figure>
                <p style="font-size: 20px;margin-top: 10px;">Darmowa dostawa</p>
            </div>

            <div class="col-xs-12 col-md-4 text-center">
                <figure>
                    <img src="assets/img/transfer.svg" alt="Pełny zwrot pieniędzy" height="100" width="100">
                </figure>
                <p style="font-size: 20px;margin-top: 10px;">Pełny zwrot pieniędzy</p>
            </div>

            <div class="col-xs-12 col-md-4 text-center">
                <figure>
                    <img src="assets/img/support.svg" alt="Pomoc 24h/7" height="100" width="100">
                </figure>
                <p style="font-size: 20px;margin-top: 10px;">Pomoc 24h/7</p>
            </div>

        </div>

    </div>
</main>