<header>

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">

        <a class="navbar-brand" href="main-page">
            <img src="assets/img/logo.png" width="75" height="50" class="d-inline-block mr-1" alt="">
            Ciuchy.pl
        </a>

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu"
            aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <div class="collapse navbar-collapse" id="mainmenu"> -->
        <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="mainmenu">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="main-page"> Strona domowa </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="product-list"> Produkty </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="about-us"> O nas </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="contact"> Kontakt </a>
                </li>

            </ul>

            <form class="form-inline">

                <input class="form-control mr-1" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">
                <button id="search" class="btn btn-primary" type="submit">Znajdź</button>

            </form>

            <a class="btn btn-primary mr-2" href="sign-in"
            role="button">Zaloguj</a>
            <a class="btn btn-primary" href="sign-up"
            role="button">Zarejestruj</a>


        </div>

    </nav>

</header>